
 .project h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 2.5em;
    color: #333;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    padding: 20px;
  }
  
  .project {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(111, 40, 104, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(111, 40, 104, 0.1);
  }
  
  .project img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .project:hover img {
    transform: scale(1.05);
  }
  
  .project h3 {
    margin-top: 10px;
    font-size: 1.5em;
    color: #3b254f;
    transition: color 0.3s ease;
  }
  
  .project:hover h3 {
    color: #533370;
  }
  
  .project p {
    margin: 10px 0;
    font-size: 1em;
    color: #555;
  }
  
  .project a {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 15px;
    background-color: #3b254f;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease ;
  }
  
  .project a:hover {
    background-color: #533370;
  }
  
  .project .technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }
  
  .project .technologies span {
    background-color: #e0e0e0;
    color: #333;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px;
    font-size: 0.9em;
  }
  